{% extends "base.html" %}

{% block title %}<p>{{ blog.title }}</p>{% endblock %}

{% block content %}

     <p>{{ blog.title }}</p>
    <main role="main">
        <div class="container">
        <h1 class="text-center pt-3">Witam na moim blogu, mam nadzieję, że znajdziesz tu coś interesującego.</h1>
        <br />
        <br />
            <h2>Ostatnie posty:</h2>
            <hr />
            {% for blog in blogs.all %}
            <a href="{%url 'detail' blog.id%}"><h3>{{ blog.title }}</h3></a>
            {{ blog.pub_date_pretty }}
            <br />
            <img class="image-fluid" src="{{ blog.image.url }}" height="200" width="200" />
            <br />
            <p>{{ blog.summary }} </p>
            {% endfor %}



        </div>
    </main>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
    {% for job in jobs.all %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{job.image.url}}">
            <div class="card-body">
                <p class="card-text">{{job.summary}}</p>
            </div>
        </div>
    </div>


    {% endfor %}
                </div>
        </div>
    </div>

{% endblock %}




